<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Marcelo - Oftalmologia</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
            <div class="col-md-6">
                <a class="navbar-brand" href="#">Dr. Marcelo Muce</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="col-md-6">

                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Início <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Serviços</a>
                        <a class="nav-item nav-link" href="#">Curriculo</a>
                        <a class="nav-item nav-link" href="#">Contato</a>
                    </div>

                </div>


            </div>

        </nav>
    </header>

    <main>
        <section class="container-fluid">
            <div class="row justify-content-center mt-5">
                <div class="contentbox">
                    <h1>Serviços oferecidos</h1>
                    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil molestias modi mollitia commodi?
                        Atque itaque, eum rerum illo porro asperiores cum velit consequatur repellendus, quasi eveniet
                        quae tempora, voluptatibus inventore.</h3>
                </div>
            </div>
            <div class="row justify-content-between mt-5">
                <div class="col-md-4 d-flex align-items-center flex-column mb-3">
                    <img src="/images/contact-lens-basics-1200x630.png" alt="imagem lente" class="mb-4">
                    <h3 class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam fugiat
                        repellat aliquam
                        Repellat hic vel aliquam?</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde facere veniam doloremque
                        inventore impedit. At aut magnam, iste illo natus quis! Iste veritatis sed aperiam numquam qui
                        natus omnis nemo! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores sapiente
                        aspernatur, repellendus sit cum fugit, similique blanditiis error unde ex architecto ipsum.
                        Quod, perferendis rerum consequatur sit modi veritatis magnam?Lorem ipsum dolor, sit amet

                    </p>
                </div>
                <div class="col-md-4 d-flex align-items-center flex-column mb-3">
                    <img src="/images/eye-1173863_1280.jpg" class="mb-4" alt="imagem lente">
                    <h3 class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam fugiat
                        repellat aliquam
                        Repellat hic vel aliquam?</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde facere veniam doloremque
                        inventore impedit. At aut magnam, iste illo natus quis! Iste veritatis sed aperiam numquam qui
                        natus omnis nemo! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores sapiente
                        aspernatur, repellendus sit cum fugit, similique blanditiis error unde ex architecto ipsum.
                        Quod, perferendis rerum consequatur sit modi veritatis magnam?Lorem ipsum dolor, sit amet

                    </p>
                </div>
                <div class="col-md-4 d-flex align-items-center flex-column mb-3">
                    <img src="/images/lasers-495751_640.jpg" class="mb-4" alt="imagem lente">
                    <h3 class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam fugiat
                        repellat aliquam
                        Repellat hic vel aliquam?</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde facere veniam doloremque
                        inventore impedit. At aut magnam, iste illo natus quis! Iste veritatis sed aperiam numquam qui
                        natus omnis nemo! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores sapiente
                        aspernatur, repellendus sit cum fugit, similique blanditiis error unde ex architecto ipsum.
                        Quod, perferendis rerum consequatur sit modi veritatis magnam?Lorem ipsum dolor, sit amet

                    </p>
                </div>
            </div>
        </section>

        <section class="conteiner-fluid mt-5 p-5" id="curriculo">
            <div class="row justify-content-center mb-5">
                <h2>Curriculo</h2>
            </div>
            <div class="row justify-content-center">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum unde nam, quaerat eos debitis
                    labore maxime delectus, laborum illum animi sapiente numquam possimus error laboriosam dolore quasi
                    at amet consequuntur!
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum omnis, ex neque, vitae consectetur
                    incidunt ut quos dicta aliquid laborum repudiandae eveniet perferendis fugiat placeat labore hic
                    dolorum magni voluptates.</p>

                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam animi iusto doloremque vel
                        ea minima est fugit earum voluptates iure officia, quos veniam libero saepe dolores similique
                        excepturi ut!</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ullam accusantium totam
                        perspiciatis iure odit ducimus quidem, rerum deleniti. Dolorem quae tenetur sed vitae
                        praesentium dolor officia ad, numquam sapiente.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officia! Blanditiis esse fugit
                        corrupti inventore nesciunt. Officia, voluptatum facilis? Quod consectetur illo molestias sunt
                        optio pariatur repellat architecto consequuntur eveniet!</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere excepturi impedit corporis
                        vitae ipsam itaque debitis libero, omnis ipsum cupiditate asperiores consequuntur in temporibus,
                        aut distinctio labore saepe odit dolorem.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nobis fugit rem nulla veniam
                        deleniti corrupti nihil nostrum id vel illo a ea nemo dolorum dolorem hic expedita, natus
                        ducimus.</li>
                </ul>
            </div>
        </section>

        <section class="container mt-5">
            <div class="row justify-content-center">
                <h2 class="mb-5">Contato</h2>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-3 mb-3">
                    <h4>Locais de atendimento</h4>
                    <ul>
                        <li>Local 1</li>
                        <li>Local 2</li>
                        <li>Local 3</li>
                        <li>Local 4</li>
                    </ul>
                </div>
                <div class="col-md-6 mb-3">
                    <h3 class="mb-5">Deixe uma mensagem/Dúvida/Sugestão</h3>
                    <form action="" method="post">
                        <div class="form-group">
                            <input id="nome" class="form-control" type="text" name="nome" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input id="email" class="form-control" type="mail" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="mensagem" id="mensagem" cols="30" rows="5" placeholder="Sua Mensagem"></textarea>
                        </div>
                        <button class="btn btn-primary" type="button">Enviar</button>
                    </form>
                </div>
            </div>

        </section>

    </main>


</body>

</html>